<main class="content-main">
  <section class="content-section">
    <section class="basesection">
      <div class="basesection-header">
        <div class="sectiontitle">
          <div class="sectiontitle-caption">
            <p>体調グラフ</p>
          </div>
        </div>
      </div>
      <div class="basesection-period">
        <div class="dashboard-period-popdown">
          <div class="period-popdown-controls right">
              <%= render 'layouts/to_next_or_prev_period', report: @report %>
              <%= render 'layouts/change_period', report: @report %>
          </div>
        </div>  
      </div>
      <div class="basesection-card basesection-contents statistics">
        <canvas id="myChart" style="width:100%;"></canvas>
        <div class="chart-toggles">
            <a class="activity enabled btn btn-danger btn-lg active">活動量</a>
            <a class="mood enabled btn btn-info btn-lg active">気分</a>
            <a class="appetite enabled btn btn-success btn-lg active">食欲</a>
        </div>
      </div>
    </section>
  </section>
</main>

<script>
var ctx = document.getElementById("myChart").getContext('2d');

var options = <%= @report.chart_options.to_json.html_safe %>;

var chartlabel = <%= @report.chart[:labels].to_json.html_safe %>;

var enableCheck = function() {
  ACTOn = jQuery('.activity').hasClass('enabled');
  MOOOn = jQuery('.mood').hasClass('enabled');
  APPOn = jQuery('.appetite').hasClass('enabled');
  if (!(ACTOn)) {
    ACT = {
      label: "",

    };
  } else {
    ACT = {
      label: "活動量",
      borderColor: "#DC3445",
      backgroundColor: "#DC3445",
      fill: false,
      borderWidth: 3,
      data: <%= @report.chart[:datasets][:activity].to_json.html_safe %>
    };
  };
  if (!(MOOOn)) {
    MOO = {
      label: "",
    };
  } else {
    MOO = {
      label: "気分",
      borderColor: "#16A2B8",
      backgroundColor: "#16A2B8",
      fill: false,
      borderWidth: 3,
      data: <%= @report.chart[:datasets][:mood].to_json.html_safe %>
    };
  };
  if (!(APPOn)) {
    APP = {
      label: "",
    };
  } else {
    APP = {
      label: "食欲",
      borderColor: "#27A744",
      backgroundColor: "#27A744",
      fill: false,
      borderWidth: 3,
      data: <%= @report.chart[:datasets][:appetite].to_json.html_safe %>
    };
  };
};

jQuery(document).ready(function() {
  enableCheck();

  data = {
    labels: chartlabel,
    datasets: [ ACT, MOO, APP ]
  };

  baseChart = new Chart(ctx , {
    type: 'line',
    data: data,
    options: options
  });
  currentChart = baseChart;
});

jQuery('.chart-toggles a').click(function() {
  jQuery(this).toggleClass('enabled active');
  enableCheck();
  data = {
    labels: chartlabel,
    datasets: [ ACT, MOO, APP ]
  };

  currentChart.data = data;
  currentChart.options = options;
  currentChart.update();
});
</script>
