<main class="content-main">
  <section class="content-section">
    <section class="basesection">
      <div class="basesection-header">
        <div class="sectiontitle">
          <div class="sectiontitle-caption">
            <p>体調グラフ</p>
          </div>
        </div>
      </div>
      <div class="basesection-period">
        <%= render 'layouts/to_next_or_prev_period', report: @report %>
        <%= render 'layouts/change_period', report: @report %>
      </div>
      <div class="basesection-card basesection-contents">
        <canvas id="myChart"></canvas>
      </div>
    </section>
  </section>
</main>

<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= @report.chart[:labels].to_json.html_safe %>,
        datasets: [{
            label: <%= @column.to_json.html_safe %>,
            data: <%= @report.chart[:datasets].to_json.html_safe %>,
            fill: false,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 3
        }]
    },
    options: {
        responsive: false,
        scales: {
            yAxes: [{
                ticks: {
                    max: 2,
                    min: -2,
                    stepSize: 1.0
                }
            }]
        }
    }
});
</script>
