<h3><%= @column %></h3>

<

<%= link_to "前", statistics_path(column: @column, date_begin: to_ex_or_next_period(@date_begin, @period), date_end: @date_begin - 1, period: @period) %>
<p><%= @date_begin %>~<%= @date_end %></p>
<%= link_to "次", statistics_path(column: @column, date_begin: @date_end + 1, date_end: to_ex_or_next_period(@date_end,@period), period: @period) %>

<canvas id="myChart" style="width:600; height:400;"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= @chart[:labels].to_json.html_safe %>,
        datasets: [{
            label: <%= @column.to_json.html_safe %>,
            data: <%= @chart[:datasets].to_json.html_safe %>,
            fill: false,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    max: 2,
                    min: -2,
                    stepSize: 1.0
                }
            }]
        }
    }
});
</script>
