<% diaries.each do |diary| %>
  <article class="post">
    <div class="post-wrapper clearfix">
      <section class="post">
        <div class="post-content">
          <div class="body-text">
            <p class="date"><%= diary.get_date %></p>
            <p><%= diary.content %></p>
          </div>
          <section class="conditions">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <th>活動</th>
                    <td>
                      <ul class="list-group list-group-horizontal">
                        <% conditions = condition_generator(diary.activity) %>
                        <% conditions.each do |key, value| %>
                          <%= content_tag(:li, key, class: "#{class_generator(value)}") %>
                        <% end %>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>気分</th>
                    <td>
                      <ul class="list-group list-group-horizontal">
                        <% conditions = condition_generator(diary.mood) %>
                        <% conditions.each do |key, value| %>
                          <%= content_tag(:li, key, class: "#{class_generator(value)}") %>
                        <% end %>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>食欲</th>
                    <td>
                      <ul class="list-group list-group-horizontal">
                        <% conditions = condition_generator(diary.appetite) %>
                        <% conditions.each do |key, value| %>
                          <%= content_tag(:li, key, class: "#{class_generator(value)}") %>
                        <% end %>
                      </ul>
                    </td>
                  </tr>
                </tbody>
            </table>
            <% if current_user == diary.user %>
              <%= link_to "削除", diary, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
            <% end %>
          </section>
        </div>
    </div>
  </article>
<% end %>
