<% diaries.each do |diary| %>
  <article class="post">
    <div class="post-wrapper clearfix">
      <section class="post">
        <div class="post-content">
          <div class="body-text">
            <p class="date"><%= diary.get_date %></p>
            <p><%= diary.content %></p>
          </div>
          <section class="conditions">
            <div class="condition-wrapper">
              <div class="condition-title">活動量</div>
              <ul class="list-group list-group-horizontal">
                <% conditions = condition_generator(diary.activity) %>
                <% conditions.each do |key, value| %>
                  <%= content_tag(:li, key, class: "#{class_generator(value)}") %>
                <% end %>
              </ul>
            </div>
            <div class="condition-wrapper">
              <div class="condition-title">気分　</div>
              <ul class="list-group list-group-horizontal">
                <% conditions = condition_generator(diary.mood) %>
                <% conditions.each do |key, value| %>
                  <%= content_tag(:li, key, class: "#{class_generator(value)}") %>
                <% end %>
              </ul>
            </div>
            <div class="condition-wrapper">
              <div class="condition-title">食欲　</div>
              <ul class="list-group list-group-horizontal">
                <% conditions = condition_generator(diary.appetite) %>
                <% conditions.each do |key, value| %>
                  <%= content_tag(:li, key, class: "#{class_generator(value)}") %>
                <% end %>
              </ul>
            </div>
          </section>
          <% if current_user == diary.user %>
            <%= link_to "削除", diary, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </section>
    </div>
  </article>
<% end %>
